body {
    width: 450px;
    border-top-color:black;
    border-top-width: 10px;
    border-bottom-color:black;
    border-bottom-width:10px;
}

#ReceiptPanel{
    width: 150px;
    border-color: black;
    border-width: 2px;
    background-color: #ECEBEB;
    color:black;
    font: Lucida Sans Typewriter;
}


